$dark59: #7E8299;
$dark75: #3F4254;
$dark: #1e1e2d;
$dark_select: #1b1b28;
$white: #ffffff;
$black: #000000;
$blue: #007BFF;
$blue-dark: #3147ad;

$muted: #B5B5C3;
$light: #ebedf3;
$success: #318200;
$light-success: #c5ea52;
$danger: #dc3545;
$light-danger: #e6d9d9;
$info: #17a2b8;
$light-info: #EEE5FF;
$warning: #FFC409;
$light-warning: #FFF4DE;

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
